<div class="container">
  Tic Tac Toe
  <div class="juego">
    <div
      *ngFor="casilla; of: casillas; let i = index"
      id="{{ i }}"
      (click)="jugar(i)"
      class="casilla"
    ></div>
  </div>
  <p *ngIf="hayGanador">El ganador es el jugador {{ jugador }}</p>
  <p *ngIf="hayEmpate">¡Empate! Reinicia el juego</p>
  <button (click)="reiniciar()">Reiniciar</button>
  <input
    type="checkbox"
    name="vsMaquina"
    id="vsMaquina"
    (change)="cambiarAdversario()"
  />Jugar contra máquina
</div>
